@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);


body{
   margin:0px;
    padding: 0px;
    overflow-x: hidden;
    /*background:#E3DFD2;box-shadow: inset 0 0 20vmin 0 #585247;*/
    font-family: 'Droid Arabic Kufi', serif; 
    
}
.container{
  width: 85% !important;
}
h3{
    text-align: center;
}
h1 ,h2, h3, h4, h5, h6, p{
    text-align: right;
    font-family: 'Droid Arabic Kufi', serif; 
}
hr{
  border-width:1.5px;
  border-color: #2A548B;
  width: 100%;
}
.heading{
  width: 100%;
  height: auto;
  background-color: #5B3256;
  color:#FFC400;
  padding: 20px;
  font-size: 35px;
  border-left: solid 12px #FFC400;    
}
.page_footer{
    width: 100%;
    height: 300px;
    background-color: #5B3256;
    margin-top: 50px;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.40);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.40);
}
.page_footer_innerContainer{
  border:solid 1px #fff;
  /*width: 85%;*/
  padding: 30px;
}
.page_footer_innerContainer>p{
  color: #fff;
}
div>
p{
    font-size: 20px;
}
.main-page-container{
    width: 100%;
    height: 100%;
 
}
.logo-container{
    width: 100%;
    height: auto;
    margin:0px;
    padding: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.image-slider-container{
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.menu-container{
    width: 100%;
    height: 1000px;
}

#introduction-container{
    margin-top: 70px;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.feature-image{
  background: rgba(82.4, 78.8, 1.6, 0.5);
}
/************
Slider Styles Starts here
****************/
@font-face {
    font-family: sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic);
}



body {
  font: 14px/2 "Open sans",sans-serif;
  height: 100%;
  letter-spacing: 0.05em;
  /*background:#fff;*/
  box-shadow: inset 0 0 20vmin 0 #A48524;
}

.btn-learn-more {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 20px/1.2 "Oswald", sans-serif;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
.btn-learn-more::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn-learn-more::after {
  transition: border 0.1s linear 0.05s;
}
.btn-learn-more .btn-inner {
  position: relative;
  z-index: 2;
}
.btn-learn-more:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}

.btn-learn-more:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn-learn-more:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 73vh;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .sld1 {
  background-image: url("http://shaha.ancorathemes.com/wp-content/uploads/2017/10/slider_1.jpg");
}
.slideshow .sld2 {
  background-image: url("http://shaha.ancorathemes.com/wp-content/uploads/2017/10/slider_2.jpg");
}
.slideshow .sld3 {
  background-image: url("http://shaha.ancorathemes.com/wp-content/uploads/2017/10/slider_3.jpg");
}
.slideshow .sld4 {
  background-image: url("http://shaha.ancorathemes.com/wp-content/uploads/2017/10/slider_2.jpg");
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0, 0, 0, 0.5);*/
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  text-transform: uppercase;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}
.slideshow .slide .btn-learn-more {
  margin: 15px 0 0;
  border-color: #fff;
}
.slideshow .slide .btn-learn-more::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .arrows .prev {
  left: 30px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 30px;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}


/************
Slider Styles Ends here
****************/

/************
Player Styles Starts here
****************/

/* This is purely for the demo */
.player-container {
  max-width: 800px;
  margin: 0 auto;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}

/************
Player Styles Ends here
****************/

/************
Feature Image Styles Starts Here
****************/

/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .panel .description-bottom {
        width: 55%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(43.9, 57.6, 91.8,0.5);
        padding: 20px;
        border-radius: 30px;
        right: 5%;
    }

    .description-bottom>p{
      color:#E9D677;
      font-size: 25px;
    }
    .bottom_image {
        width: 20%;
        position: absolute;
        top: 45%;
        left:20%;
        transform: translate(-50%, -50%);
    }
    .top_image{
        width: 20%;
        position: absolute;
        top: 45%;
        right: 5%;
        transform: translate(-50%, -50%);
    }
.bottom {
    background-color: transparent;
    z-index: 1;
}



.top {
    background-color: #5B3256;
    z-index: 2;
}
    .top .description {
        right: 5%;
    }
        .panel .description-top {
        width: 55%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(43.9, 57.6, 91.8,0.5);
        padding: 20px;
        border-radius: 30px;
        left: 5%;
    }

    .description-top>p{
      color:#fff;
      font-size: 25px;
    }
    
/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

.panel-bottom-container{
  background-image: url(https://om4.com.au/wp-content/uploads/grapes.jpg);
}

/************
Feature Image Styles Ends Here
****************/

/************
Book Styles starts Here
****************/ 

       
        .books {
            padding: 30px 0;
            text-align: center;
        }

        .books img {
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 200px;
            margin: 10px 30px;
            -moz-transform: perspective(500px) rotateY(-22deg) translateZ(20px);
            -ms-transform: perspective(500px) rotateY(-22deg) translateZ(20px);
            -webkit-transform: perspective(500px) rotateY(-22deg) translateZ(20px);
            transform: perspective(500px) rotateY(-22deg) translateZ(20px);
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            box-shadow: 2px 0 -1px #ddd, 4px 0 -2px white, 6px 0 -3px #ddd, 8px 0 -4px white, 10px 0 -5px #ddd, 12px 0 -6px white;
        }

        .books img:hover {
            -moz-transform: perspective(500px) rotateY(0deg) translateZ(20px);
            -ms-transform: perspective(500px) rotateY(0deg) translateZ(20px);
            -webkit-transform: perspective(500px) rotateY(0deg) translateZ(20px);
            transform: perspective(500px) rotateY(0deg) translateZ(20px);
            box-shadow: none;
            cursor: pointer;
        }

        .shelf {
            height: 100px;
            margin: -50px auto 0;
            -moz-transform: perspective(10px) rotateX(20deg);
            -ms-transform: perspective(10px) rotateX(20deg);
            -webkit-transform: perspective(10px) rotateX(20deg);
            transform: perspective(10px) rotateX(20deg);
            background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood_@2X.png);
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0))), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood_@2X.png);
            background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood_@2X.png);
            background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood_@2X.png);
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood_@2X.png);
            background-size: 100%, 512px;
        }
        .book_shelf_container{
          display: flex;
          flex-direction: column;

        }


/************
Book Styles Ends Here
****************/


/************
Image Gallary Styles Starts Here
****************/
.image_gallary_container{
  width: 100%;
}

.inner_image_container{
  width: 100%;
  /*padding: 10px;*/
}

#rig {
    max-width:900px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:transparent;
}
#rig li {
    /*display: inline-block;*/
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0px;
    padding:0;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}
/************
Image Gallary Styles Ends Here
****************/


/************
Video Gallary Styles Starts Here
****************/

.video_inner_container{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.a_link {
  text-decoration: none;
}

.heading_one {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card {
  width: 250px;
}
.card:hover{
  cursor: pointer;
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);

        
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type='checkbox'] {
  display: none;
}
.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}


.example-2 .card-1 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/Imam-e-Azam-2.png) center/cover no-repeat;
}
.example-2 .card-2 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/Imam-e-Azam-3.png) center/cover no-repeat;
}
.example-2 .card-3 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/Imam-e-Azam-4.png) center/cover no-repeat;
}
.example-2 .card-4 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/Imam-e-Azam-5.png) center/cover no-repeat;
}
.example-2 .card-5 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/Imam-e-Azam-6.png) center/cover no-repeat;
}
.example-2 .card-6 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/Imam-e-Azam-2.png) center/cover no-repeat;
}
.example-2 .card-7 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/Manqabat-About-Imam-e-Azam.jpg) center/cover no-repeat;
}
.example-2 .card-8 {
  background: url(https://events.dawateislami.net/imam-abu-hanifa/img/slising/event-page-faizan-e-imam-azam-Featured-Video.jpg) center/cover no-repeat;
}

.example-2 .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: #fff;
}
.example-2 .header::before, .example-2 .header::after {
  content: '';
  display: table;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  font-size: 12px;
}
.example-2 .menu-content {
  float: right;
}
.example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-2 .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
  color: #fff;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-2 .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}


/************
Video Gallary Styles Ends Here
****************/


/************
Blog Styles Starts Here
****************/
.blog_container{
  margin-bottom: 20px;
}

.blog_inner_container{
}



.blog-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 48px auto;
  width: 20rem;
}
@media screen and (min-width: 480px) {
  .blog-container {
    width: 28rem;
  }
 
}
@media screen and (min-width: 767px) {
  .blog-container {
    width: 40rem;
  }
}

@media screen and (min-width: 959px) {
  .blog-container {
    width: 50rem;
  }
  
}
@media screen and (max-width: 959px) {
.card{
    width: 180px;
  }

}

.blog-container a {
  text-decoration: none;
  transition: .25s ease;
}
.blog-container a:hover {
  color: #90C604;
}

.blog-cover {
  background: url("https://data2.dawateislami.net/static/images/main-website/blog/arabic/20-14august-2017.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}

.blog-cover-image-1{
  background: url("https://data2.dawateislami.net/static/images/main-website/blog/arabic/20-14august-2017.jpg");
  background-size: cover;
}
.blog-cover-image-2{
  background: url("https://data2.dawateislami.net/static/images/main-website/blog/arabic/19-alquran-safeenatun-nijat.jpg");
  background-size: cover;
}
.blog-cover-image-3{
  background: url("https://data2.dawateislami.net/static/images/main-website/blog/arabic/14-maza-bad-ramadan.jpg");
  background-size: cover;
}
.blog-cover-image-4{
  background: url("https://data2.dawateislami.net/static/images/main-website/blog/arabic/13-nafhaat-e-ramadan.jpg");
  background-size: cover;
}

.blog-author,
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}

.blog-author h3::before,
.blog-author--no-cover h3::before {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}

.blog-author h3 {
  color: #fff;
  font-weight: 100;
}

.blog-author--no-cover h3 {
  color: #999999;
  font-weight: 100;
}

.blog-body {
  margin: 0 auto;
  width: 80%;
}

.video-body {
  height: 100%;
  width: 100%;
}

.blog-title h1 a {
  color: #333;
  font-weight: 100;
}

.blog-summary p {
  color: #4d4d4d;
}

.blog-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.blog-tags li + li {
  margin-left: .5rem;
}

.blog-tags a {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}

.blog-footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}

.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}

.blog-footer li:first-child {
  margin-right: auto;
}

.blog-footer li + li {
  margin-left: .5rem;
}

.blog-footer li {
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}
.blog-footer li a {
  color: #999999;
}

.comments {
  margin-right: 1rem;
}

.published-date {
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 0 .5rem;
}

.numero {
  position: relative;
  top: -0.5rem;
}

.icon-star,
.icon-bubble {
  fill: #999999;
  height: 24px;
  margin-right: .5rem;
  transition: .25s ease;
  width: 24px;
}
.icon-star:hover,
.icon-bubble:hover {
  fill: #ff4d4d;
}





/************
Blog Styles Ends Here
****************/
